@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}
.class1 {
    body {
     background-color: blue;
    }
}

.class2 {
   body {
    background-color: orange;
   }
}
body {
 backgraound-color: blue;
 }
 :root {
  --main-bg-color: #f7b219;
}

body {
  background-color: var(--main-bg-color);
}
:root {
	--color-apple-red: rgb(255,59,48);
	--color-apple-orange: rgb(255,149,0);
	--color-apple-yellow: rgb(255,204,0);
	--color-apple-green: rgb(76,217,100);
	--color-apple-teal: rgb(90,200,250);
	--color-apple-blue: rgb(0,122,255);
	--color-apple-purple: rgb(88,86,214);
	--color-apple-pink: rgb(255,45,85);
	--color-apple-grey-dark: rgb(142,142,147);
	--color-apple-grey-medium: rgb(199,199,204);
	--color-apple-grey-light: rgb(209,209,214);
	--color-apple-grey-lighter: rgb(229,229,234);
	--color-apple-grey-lightest: rgb(239,239,244);
}